.genre-list {
  @media (max-width: 1100px) {
    display: none;
  }
}

.alert-error {
  width: 500px;
  left: 50%;
  margin-left: -250px;
  position: absolute;
  z-index: 2;
}

.alert-error__hidden {
  display: none;
}
