.header {
  display: flex;
  padding: 10px 40px;
}

.header ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: 0 50px 10px;
  font-size: 18px;
}

a {
  text-decoration: none;
}